
/*0117新增*/
.formContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    /* padding: 10px; */
  }
  
  .formContainer input {
    /*object-fit: contain;*/
    /* flex:1; */
    width: 500px;
    /*height: 40px;*/
    padding: 10px;
    background-color: black;
    border: grey;
    color: #f67606;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  .formContainer button {
    width: 60px;
    background-color: black;
    border: grey;
    color: #f67606;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }