body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding-top: 50px;
}

#inputField {
    width: 300px;
    padding: 10px;
}

#searchButton {
    padding: 10px;
}

#loading {
    display: none;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
